body {
	background-image: url(parchment.jpg);
}

ul {
        border: 0; margin: 0 0 0 0; padding: 0;
        display: inline-block;
        list-style-type: none;
}
li {
        border: 0; margin: 0; padding: 0px 10px 0px 0px;
        font-style: 11px;
        list-style: none;
        display: inline;
}
.choosen { 
	background-color: yellow;
	color: black;
	font-weight: bold;
}


/*
.mySlides { display:none; }
*/
.display-row .corousel-col { width: 1000px; }
